* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #1F2937;
}

header {
    display: flex;
    flex-direction: row;
}

.header-right,
.header-left {
    display: flex;
    align-items: center;
    flex: 1;
}

.header-left {
    justify-content: flex-start;
    padding-left: 270px;    
}

.header-right {
    justify-content: flex-end;
    padding-right: 250px; 
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px;
}

.header-link:nth-child(3) {
   margin-right: 0;
   padding-right: 0;
}

.header-logo {
    font-size: 24px;
    color: #E5E7EB;
    font-weight: bolder;
    cursor: pointer;
}

ul {
    display: flex;
    list-style: none;
    flex-direction: row;
}

li {
    padding: 15px;
    cursor: pointer;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 18px;
}

.sign-up {
    display: block;
    text-decoration: none;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    width: fit-content; /* stay in the content size */
}

.button-text {
    color: #F9FAF8;
    font-size: 18px;
}

.button-text {
    color: #F9FAF8;
    font-size: 18px;
}

.hero {
    display: flex;
    width: auto;
    height: auto;
    margin: 180px 250px;
}

.hero-left,
.hero-right {
    padding: 20px;
    flex: 1;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #536878;
}

.image-placeholder {
    color: white;
}

/* second part */

.info-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 50px;
    color: #1F2937;
}

.square {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 5px solid #3882F6;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-bottom: 100px;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex: 1; *//
}

.info-text {
    max-width: 150px;
    text-align: center;
    padding-top: 5px;
}

/* third part */

.container-3 {
    background-color: #E5E7EB;
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;
}

.quote {
    margin-bottom: 10px;
}

.autor {
    align-self: flex-end;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}

.autor p {
    font-size: 28px;
    font-weight: bolder;
}

footer {
    background-color: #1F2937;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
    padding: 30px;
}

.footer-references p {
    padding: 6px;
}

.footer-socials {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-socials a {
    margin-right: 10px;
}

.footer a {
    font-size: 40px;
}

.footer a:hover {
    text-decoration: none;
}